# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.keystore
*.jks

# Metro
.metro-health-check*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# local env files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/build/

# coverage
coverage/

# temp
.tmp/
.cache/

# generated
expo-env.d.ts